## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
### *		
### 'hello'	
### -87.8	
### - 		
### / 		
### +	     
### 6

# Answer
#### *	-	Expression
#### 'hello'		-	Values	
#### -87.8		-	Values	
#### - 		-	Expression
#### / 		-	Expression
#### +	                     -	Expression
#### 6 		-	Values

2. What is the difference between string and variable?

### Variable - A Variable is a Container which holds the Value
### String   - A String is a sequence of Character

In [5]:
# Example
a = 10
b = "Ineuron"
print(a)
print(type(a))
print(b)
print(type(b))

10
<class 'int'>
Ineuron
<class 'str'>

## 3. Describe three different data types.

## There are different types of Datatypes such as
Numeric data types: int, float, complex.
String data types: str.
Sequence types: list, tuple, range.
Binary types: bytes, bytearray, memoryview.
Mapping data type: dict.
Boolean type: bool.
Set data types: set, frozenset.

In [7]:
#Example
a = 10
b = 40.4
c = 3+4j

In [8]:
print(a)

10

In [9]:
print(b)

40.4

In [10]:
print(c)

(3+4j)

In [11]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

## 4. What is an expression made up of? What do all expressions do?

An Expression is a combination of Values, Variables and operators it helps us to assign the Value

In [12]:
# Example 
a = 30 + 20   # This is an Expression

In [13]:
print(a)

50

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

#### Over here spam = 10 is a Statement because we are assigning the Value to a Variable
#### Statements 
#### •	A Statement is used for creating Variables
#### •	We don’t expect any result over it
#### •	Eg:  a = 20
#### Expression
#### •	An Expression gives us a Value when it is been interpreted by the Python 
#### •	Eg : a = 30+40*2

## 6. After running the following code, what does the variable bacon contain?

#### bacon = 22
#### bacon + 1
#### Over here the value of bacon remains as it is because we are not reassign the value of bacon it 
#### Eg 
#### bacon = 22
#### bacon = bacon + 1
#### Over here then the value will be change to 23

In [16]:
bacon = 22
bacon = bacon + 1

In [17]:
print(bacon)

23

## 7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

Over here
a = 'spam' + 'spamspam'
print(a)
Ans : a = spamspamspam
Plus operator (+) is acting as a concatenating 

Over here 
a = 'spam' * 3
print(a)
Ans : a = spamspamspam
Spam word is getting multiply 3 times

In [18]:
a = 'spam' + 'spamspam'
print(a)
b = 'spam' * 3
print(b)

spamspamspam
spamspamspam

## 8. Why is eggs a valid variable name while 100 is invalid?

Python follows Variable Naming Convention where 
•	A variable name must start with a letter or the underscore character
•	A variable name cannot start with a number
•	A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
•	Variable names are case-sensitive (age, Age and AGE are three different variables)9. What three functions can be used to get the integer, floating-point number, or string version of a value?

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

## 10. Why does this expression cause an error? How can you fix it?
## 'I have eaten ' + 99 + ' burritos.'

Over here the Expression causes an error because we cannot concatenate string with and int 
So we need to convert 99 number to str which is called Type Casting 
Eg : a = 'I have eaten ' + str(99) + ' burritos.'
print(a)
I have eaten 99 burritos.

In [21]:
a = 'I have eaten ' + str(99) + ' burritos.'

In [22]:
print(a)

I have eaten 99 burritos.